// ? @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@
// [data-page-name=example] {
  
    @include media-breakpoint(basic) {
        .whyGambleOnDambleSection {
            padding: 20px;
            // background-color: black;
            & .sectionHeading {
                text-align: start;
                font-size: 64px;
                font-weight: 600;
                color: #fff;
                margin-bottom: 20px;
            }
            & .whyCardOuter {
                & .whyCardInner {
                    gap: 40px;
                    & .whyCard {
                        & img {
                            object-fit: contain;
                        }
                        & .cardHeadig {
                            font-size: 30px;
                            margin-bottom: 25px;
                            font-weight: 500;
                            color: #fe7a1c;
                        }
                        & .cardText {
                            & span {
                                font-size: 24px;
                                font-weight: 300;
                                color: #fff;
                                font-style: italic;
                            }
                        }
                    }
                }
            }
        }
        .partnersSection {
            padding: 20px;
            & .partnersSectionInner {
                padding-top: 50px;
                padding-bottom: 50px;
            }
            & .sectionHeading {
                font-size: 52px;
                font-weight: 600;
                color: #fff;
                text-align: left;
            }
            & .card {
                border: 0 !important;
                border-radius: 1rem;
                overflow: hidden;
                height: 190px;
                padding: 2.5rem;
                background-color: #392c3e;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: 0.3s ease-in-out;
                &:hover {
                    transform: scale(0.9);
                }
                & img {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                    max-height: 30px;
                    &.bigImg {
                        max-height: 50px;
                    }
                }
            }
        }
        .footer {
            padding: 20px 30px 150px 30px;
            // background-color: black;
            & .imgOuter {
                // height: 50px;
                margin-bottom: 50px;
            }
            & .footerText {
                color: #fff;
                font-size: 24px;
                text-align: center;
                border-radius: 80px;
                background-color: #29262a;
                padding: 15px;
            }
        }
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(lg) {}

    @include media-breakpoint-up(xl) {}

    @include media-breakpoint-up(xxl) {}


    @include media-breakpoint-down(xxl) {
        
        .whyGambleOnDambleSection {
            & .sectionHeading {
            }
            & .whyCardOuter {
                & .whyCardInner {
                    & .whyCard {
                        & img {
                        }
                        & .cardHeadig {
                        }
                        & .cardText {
                            & span {
                            }
                        }
                    }
                }
            }
        }
        
        .partnersSection {
            & .partnersSectionInner {
            }
            & .sectionHeading {
            }
            & .card {
                &:hover {
                }
                & img {
                    &.bigImg {
                    }
                }
            }
        }
        
        .footer {
            & .imgOuter {
            }
            & .footerText {
                font-size: 22px;
            }
        }
    }

    @include media-breakpoint-down(xl) {
        .whyGambleOnDambleSection {
            & .sectionHeading {
                font-size: 54px;
            }
            & .whyCardOuter {
                & .whyCardInner {
                    & .whyCard {
                        & img {
                        }
                        & .cardHeadig {
                            font-size: 24px;
                        }
                        & .cardText {
                            & span {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
        .partnersSection {
            & .partnersSectionInner {
                padding-bottom: 0;
            }
            & .sectionHeading {
            }
            & .card {
                &:hover {
                }
                & img {
                    &.bigImg {
                    }
                }
            }
        }
        .footer {
            padding-top: 20px;
            padding-bottom: 20px;
            & .imgOuter {
                margin-bottom: 20px;
            }
            & .footerText {
                font-size: 20px;
            }
        }
    }

    @include media-breakpoint-down(lg) {
        .whyGambleOnDambleSection {
            & .sectionHeading {
                font-size: 40px;
            }
            & .whyCardOuter {
                & .whyCardInner {
                    & .whyCard {
                        & img {
                            width: 90% !important;
                        }
                        & .cardHeadig {
                            font-size: 22px;
                            margin-bottom: 15px;
                        }
                        & .cardText {
                            & span {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
        .partnersSection {
            & .partnersSectionInner {
                padding-top: 25px;
            }
            & .sectionHeading {
                font-size: 20px;
            }
            & .card {
                height: 150px;
                &:hover {
                }
                & img {
                    &.bigImg {
                    }
                }
            }
        }
        .footer {
            & .imgOuter {
            }
            & .footerText {
                font-size: 18px;
            }
        }
    }

    @include media-breakpoint-down(md) {
        .whyGambleOnDambleSection {
            & .sectionHeading {
                font-size: 32px;
                margin-bottom: 20px;
            }
            & .whyCardOuter {
                & .whyCardInner {
                    text-align: center;
                    & .whyCard {
                        & img {
                            width: 75% !important;
                        }
                        & .cardHeadig {
                            margin-top: 20px;
                            font-size: 20px;
                        }
                        & .cardText {
                            & span {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
        .partnersSection {
            & .partnersSectionInner {
                padding-top: 5px;
            }
            & .sectionHeading {
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 15px;
                text-align: center;
            }
            & .card {
                height: 100px;
                border-radius: 15px;
                padding: 1.5rem;
                &:hover {
                }
                & img {
                    &.bigImg {
                    }
                }
            }
        }
        .footer {
            padding-top: 15px;
            padding-bottom: 15px;
            & .imgOuter {
            }
            & .footerText {
                border-radius: 15px;
                padding: 15px;
                font-size: 16px;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .whyGambleOnDambleSection {
            & .sectionHeading {
            }
            & .whyCardOuter {
                & .whyCardInner {
                    & .whyCard {
                        & img {
                        }
                        & .cardHeadig {
                        }
                        & .cardText {
                            & span {
                            }
                        }
                    }
                }
            }
        }
        .partnersSection {
            & .partnersSectionInner {
            }
            & .sectionHeading {
            }
            & .card {
                &:hover {
                }
                & img {
                    &.bigImg {
                    }
                }
            }
        }
        .footer {
            & .imgOuter {
            }
            & .footerText {
            }
        }
    }
// }

[data-bs-theme=dark] {
    // & [data-page-name=example] {
        @include dark-media-breakpoint(basic) {
            
        }

        // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
        @include dark-media-breakpoint-up(sm) {
        }
        @include dark-media-breakpoint-up(md) {
        }
        @include dark-media-breakpoint-up(lg) {
        }
        @include dark-media-breakpoint-up(xl) {
        }
        @include dark-media-breakpoint-up(xxl) {
        }
    
    
        @include dark-media-breakpoint-down(xxl) {
        }
        @include dark-media-breakpoint-down(xl) {
        }
        @include dark-media-breakpoint-down(lg) {
        }
        @include dark-media-breakpoint-down(md) {
        }
        @include dark-media-breakpoint-down(sm) {
        }
    // }
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@

